@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Anagrams</h3><h4>Othmane Benhammou</h4>
    <br />
    <form class="d-flex" action="/Home/CheckAnagram" method="get">
        <div class="col-md-5 my-1">
            <input type="text" class="form-control mb-2" name="text1" placeholder="Type the First Word" required>
        </div>
        <div class="col-md-5 my-1">
            <input type="text" class="form-control mb-2" name="text2" placeholder="Type the Second Word" required>
        </div>
        <div class="col-md-2">
            <input class="btn btn-success mb-2" type="submit" value="Check">
            </div>
    </form>
    <br />
    <p style="color: @ViewBag.color">
        @if (ViewBag.Text != null)
        {
        <b>@ViewBag.Text.text1</b>  <span> and </span>  <b>@ViewBag.Text.text2</b>  @ViewBag.response

        }
        else {
        <b>        @ViewBag.Wrong</b> 
        }


    </p>

</div>
